*{
}
body{
	margin: auto;
	height:auto;
    display:inline-table;
}
#container{
	margin: 0;
	padding: 0;
}
#header{
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;

}
#header .banner{
	height: 150px;
	float: left;
	width:1600px;
	background: #83d385;
}
#header .banner .logo img{
	width:60px;
	 height:60px;
	 border-radius:50%;
	 margin-left: 100px;
	 margin-top: 20px;
}
#header .banner p{
	margin-top: -35px;
	padding-left: 112px;
	font-weight: bold;
	color: #FF7B38;
	font-style: italic;

}
#header .banner .search{
	float: right;
	margin-top: -30px;
	margin-right: 200px;
	font-size:13px;
}
#header .search input[type="search"]{
	border: none;
	padding: 10px 20px;
	border-radius:20px ;
	color: gray;
}
#header.search input[type="search"]:focus{
	outline: none;
}
#header .search .button {
	border: none;
	margin-left:5px;
	padding: 10px 20px;
	border-radius: 12px;
	background: green;
}

#header .button i{
	color: white;
}
#header.button:hover{
	opacity: 0.5;
}
#header.search .button:focus{
	outline: none;
}
#content{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
	box-sizing:border-box;
}
#content .menu {

    background:black;
    text-align: center;
    cursor: pointer;
    opacity:0.8;
    z-index:3;
    width:1600px;
}
#content .menu ul{
    margin: 0;
    padding: 0;

}
#content .menu li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    position:relative;
}
#content .menu a{
    text-decoration: none;
    color: white;

}
#content .menu li:hover{
    background:orangered;

}
#content .menu ul ul li:hover a{
    color:white;
}
#content .menu  ul ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    z-index:2;
    margin-top: 20px;
    margin-left: -20px;
}
#content .menu ul ul li{
    list-style: none;
    display: block;
    font-size: 15px;
    width: 100px;
}
#content .menu ul ul li a{
    color:black;
    text-align: left;
    margin: 0;
    text-decoration: none;
}
#content .menu li:hover ul {
    display: block;
}
#content .banner-left{

	margin-right:20px;
}

#content .banner-left img{
	width: 15%;
	z-index: 1;
	height: 1200px;
	float: left;
}
#content .banner-right {
	margin: -20px 0 0 10px;
}
#content .banner-right img{
	width: 15%;
	z-index: 1;
	height: 1200px;
	float: right;
	margin: 0;
}

#footer {
   height:200px;
    overflow:hidden;
	margin-top:100px;
}
#footer .contact .footer-child{
    text-align:center;
    float:left;
    margin:100px 215px 0 215px;
}
#footer .contact .footer-child .col{
    background:white;
    margin:0 10px;
    height:105px;
    width:300px;
    padding:20px;
}
#footer .contact .child-sub{
    padding:10px;
    box-shadow: 10px -8px 25px #e4e4e4;
}

#footer .contact .footer-child p{
    text-align:center;
    float:left;
    width:100px;
}
#footer .contact .footer-child  i{
    padding-right: 10px;
    float:left;
    padding-left:20px
}

#footer .custom{
    width:280px;
    border-style:solid;
    border-width:1px 1px 0;
    border-color:#e4e4e4;
    border-radius:10px 10px 0 0;
    position:fixed;
    bottom:0;
    background:#f6f7f8;
}
#footer  button{
    background:red;
    padding:10px;
    color:white;
    border-radius:10px 10px 0 0;

    width:280px;
    border:0;
    font-size:13px;

}
#footer  button:focus{
    outline:none;
}
#footer  button i {
    padding-right:17px;
    float:left;
}
#footer .form{
    height:300px;
    overflow: auto;
    padding-left:10px;
}
#footer .form label{
    padding:10px;
    font-size:13px;
}
#footer .form input{
    width:90%;
    margin:5px;
    padding:8px;
    border-radius:5px;
}
#footer .form textarea{
    width:90%;
    border-radius:5px;
}
#footer .form input[type="submit"]{
    width:80px;
    background:red;
    color:white;
    font-size:15px;
    border:none;
    margin-left:80px;
}
#footer .form input:focus{
    outline:none;
}
#footer .form textarea:focus{
    outline:none;
}

