
*{box-sizing:border-box}
body{
    background-image: url("../HomePage/04_HomePage.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    margin:0;
}
.container{
    position:relative;
   /* left:120px;
    right:120px;

    */
}
.container .header{
   /* width:100%;*/
    left:120px;
    right:120px;
    background:#232628;
    position:absolute;
    top:0;
    border-radius:0 0 8px 8px;
    display:flex;
    flex-wrap:wrap;
}
.container .line{flex:20%;}
.container .middle{flex:50%;}
.container .right{flex:30%;}
.container .line , .middle ,.right{
    padding:20px 0;
    float:left;
}
.header .line img{
    padding:0 10px;
}
.line::after{
    content:"";
    background:white;
    position:absolute;
    left:15%;
    top:23%;
    width:1px;
    height:27px;
}

.middle ul{
    list-style:none;
    margin:0;
    padding:0;
}
.middle a{
    text-decoration:none;
    color:white;
    padding:5px 15px;
    float:left;
    font-size:17px;
}
.middle a:hover {
    color:#ccc;
}
.middle a.active{
    color:orangered;
}
.right .sign-in{
    display:none;
}
.right .sign-out{
    display:flex;
}
.right .sign-in , .sign-out{
    flex:100%;
    padding-right: 10px;
}
.right input[type="text"], input[type="password"]{
    flex:60%;
    background:#1c1d1f;
    color:white;
    border:none;
    border-radius:5px;
    padding:10px 7px;
    outline:none;
    font-size:12px;

}
.right .btn{
    flex:40%;
    margin-left:5px;
    border:none;
    padding:10px 7px;
    color:white;
    background:#9d4d28;
    border-radius:5px;
    font-size:12px;
    outline:none;
}
.right .btn:hover{
    opacity:0.85;
}
.content{
    background-image: url("../HomePage/05_HomePage.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    top:500px;
    margin:auto 120px;
    z-index:1;
    border-radius:5px;
}
.title{
    position:absolute;
    background:#242729;
    left:50%;
    transform:translate(-50%);
    border-radius:5px 5px 0 0;
    margin-top:-30px;
    width:210px;
    padding:8px 0;
}
.title p{
    text-align:Center;
    color:white;
    font-family:Myriad Pro;
    font-size:16px;
    font-weight:bold;
    margin:0;

}
.title .prev,.title .next{
    color:#8e4423;
    text-align:center;
    font-weight:bold;
    top:3px;
    left:10px;
    position:absolute;
    cursor:pointer;
    font-size:20px;
}
.title .next{
   right:10px;
    left:auto;

}
.title .prev:hover ,.title .next:hover{
    color:white;
}
.row{
    display:flex;
    flex-wrap: wrap;
    padding:36px 0;
}
.column{
    flex:50%;

}
.row::after{
    content:"";
    display:table;
    clear:both;
}
.img{
    width:100%;
}
.img-content{
    width:33.33%;
    float:left;
    padding-left:20px;
}
.img-content img{
    width:100%;
    border:5px solid #8e4423;
}
.description{
   padding:0 30px;
    color:#dddddd;
}
.cert{
    color:white;
    font-size:35px;
    float:left;
}
.group4{
    display:inline-block;
    padding:0 18px;
}
.group4 h5{
    margin:0;
    color:#8e4423;
    font-family:Myriad Pro;
    font-size:18px;
}
.group4 span{
    color:#cccccc;
    font-size:12px;
    font-style:italic;
}
hr{
    border:0.5px solid #555;
    margin:30px 15px 0 15px;
    width:100%;
}
.step{
    display:flex;
    flex-wrap: wrap;
    padding:0;
}
.step::after{
    display:table;
    content:"";
    clear:both;
}
.step .column-33{
    flex:33.33%;
    padding:0 50px;
    text-align:center;
}
.step .book ,.work ,.calendar{
    margin:0 auto;
    min-height:170px;
    max-width:220px;
}
.circle{
    background:#934b2a;
    border-radius:50%;
    max-width:100px;
    min-height:100px;


}
.radius {
    max-width:76px;
    max-height:76px;
    transform:translate(10px,10px);
    border:1px solid #4a2a1b;
    border-radius:50%;
}
.circle span{
    font-size:50px;
    color:#4a2a1b;
    line-height:70px;
}
.step h3{
    font-size:18px;
    font-family:Myriad Pro;
    color:#8e4423;
}
.step p{
    color:#7b7a6d;
    font-size:17px;
}
.btn{
    color:white;
    background:#2c3032;
    border-radius:7px;
    text-align:center;
    padding:10px 14px;
    cursor:pointer;
    font-size:17px;
}
.btn:hover{
    opacity:0.8;
}
.slider{
    margin:150px auto;
    padding:60px 20px;
    position:relative;
    min-height:210px;

}
.slider .btnmiddle{
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,60%);
}
.slider .btnmiddle button{
    float:left;
    border-radius:5px 5px 0 0;
    background:#242729;
    margin-right:1px;
    text-align:center;
    border:none;
    border-bottom:1px solid black;
    color:#5b5b5b;
    padding:10px 16px;
    font-size:16px;

}
.slider .btnmiddle button:hover{
    color:white;
    background-image:linear-gradient(#393c3d, #2c2f31);
    border:none;
}
.post{
    background:#242729;
    border-radius:6px;
    flex:100%;
    position:absolute;
    left:20px;
    right:20px;
}
.post-middle{
    margin:0 130px;
    cursor:pointer;
    padding:30px 0;
}
.slider .prev, .slider .next{
    text-decoration:none;
    color:#333;
    padding:8px 14px;
    font-weight:bold;
    font-size:20px;
    border-radius:50%;
    text-align:center;
    background:#9d4d28;
    position:absolute;
    top:50%;
    left:10px;
    transform:translate(0,-50%);
}
.slider .next{
    left:auto;
    right:10px;
}
.slider .prev:hover, .slider .next:hover{
    background:#ccc;
}
.post-middle .gizmodo , .freelance, .mashable{
    max-width:220px;
}
.post-middle .column-33{
    flex:33.33%;
    padding:0 30px;
}
.post-middle span{
    color:white;
    font-size:25px;
    float:left;
    padding-right:20px;
}
.post-middle h3{
    color:#9d4d28;
    margin:0;
    font-size:18px;
}
.post-middle p {
    margin:0;
    font-size:12px;
    color:#646363;
}
.post-middle .text{
    font-size:16px;
    padding-top:15px;
    color:#7b7a6d;
}
.gizmodo:hover .text ,.freelance:hover .text,.mashable:hover .text,.gizmodo:hover h3,.freelance:hover h3,.mashable:hover h3{
    color:white;
}
.post-middle .gizmodo:hover span ,.freelance:hover span,.mashable:hover span{
    color:#9d4d28;
}
.timeline .column{
    flex:50%;
    padding:50px 20px;
}
.textbox{
    padding:50px 20px;
    overflow:hidden;
}
.textbox p{
    color:#7b7a6d;
}
.textbox .fakeimg{
    margin:30px 10px 10px 10px;
    background:#242729;
    border:5px solid #9d4d28;
    float:right;
}
.newletter{
    padding:50px 20px;
}
.signup{
    border-radius:7px;
    border:0.5px solid #ccc;
    width:70%;
    overflow:hidden;
    padding:2px;
    margin-bottom:30px;
}
.signup input[type="text"],.signup input[type="submit"]{
    border:none;
    background:#242729;
    padding:14px 16px;
    font-size:16px;
    outline:none;
    font-style:italic;
    float:left;
    text-align:center;
}
.signup input[type="text"]{
    color:#5b5b5b;
    border-radius:5px;
    width:70%;

}
.signup input[type="submit"]{
    border-radius:7px;
    width:30%;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(#b0592e, #863f20);
    color:white;
}
.signup input[type="submit"]:hover{
    background:#ab471b;
}

.latest{

}
.icon-twitter{
    border-radius:10px;
    border:0.5px solid #ccc;
    width:20%;
    padding:3px;
    float:left;
}
.icon-twitter span{
    color:white;
    text-align:center;
    font-size:40px;
    padding:0 30px;
}
.icon-twitter .fa{
    padding:15px 0;
}
.icon-twitter button{
    width:100%;
    padding:8px 12px;
    font-size:14px;
    border:none;
    border-radius:7px;
    background-image: linear-gradient(#b0592e, #863f20);
    color:white;
}
.box{
    margin-left:10px;
    border:0.5px solid #ccc;
    padding:14px 18px;
    border-radius:10px;
    float:left;
    width:78%;
}
.box p{
    color:#6f6f64;
    font-size:18px;
    font-style:italic;
}
.box a{
    text-decoration: none;
    color:white;
    font-weight:bold;
    font-size:21px;
}
.timeline{
    position:relative;
    max-width:1200px;
    margin:150px auto;
}
.timeline::after{
    position:absolute;
    width:1px;
    height:350px;
    top:0;
    left:50%;
    background:#9d4d28;
    transform:translate(-50%,30%);
}
.text-box{
    position:relative;
}
.textbox::after{
    content:"";
    position:absolute;
    width:10px;
    height:10px;
    background:#9d4d28;
    border-radius:50%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.time-content::after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width:16px;
    height:16px;
    border:2px solid #9d4d28;
    border-radius:50%;
    transform:translate(-50%,-50%);
}
.footer{
    padding:20px;
}
.footer .row{
    display:flex;
    flex-wrap:wrap;
    padding:0;
}
.footer .column-25{
    flex:20%;
    padding:0 10px;
}
.footer h2{
    color:#8e4423;
    font-size:20px;
    padding:0 30px;
}
.footer hr{
    border:0.5px solid #555;
    width:350px;
}
.flickr .column-25{
    flex:25%;
    padding:7px;
}
.flickr .fakeimg{
    background:#242729;
    border:4px solid #9d4d28;
    width:100%;
    height:70px;
}
.footer .featured {
    text-align:center;
}
.footer .featured .group5{
padding-top:10px;
}

.footer .ourfriend ,.page{
    text-align:center;
}
.group5 p{
    color:#4f504b;
    font-size:18px;
}
.footer .copyright {
    margin-top: 100px;
    overflow:hidden;
}
.footer .copyright .left{
    padding:20px;
    color:#725142;
    font-size:17px;
    float:left;
}
.footer .copyright .right{
    float:right;
    padding:20px;
    color:#725142;
    font-size:17px;
}



/*About */

